<div class="pa-container">
   <div class="row">
   <span class="button-right">
      <span>
         <button class="btn btn-primary btn-lg ms-2" (click)="oncancel()">Cancel</button>
     </span>
  </span>
</div>
    <div class="">
		<div class="d-flex no-gutters">
            <div class="col-lg-4 col-md-6 d-none d-md-block">
              <div class="image-section ">
                 <img src="assets/images/page.jpg">
               </div>
            </div>
            <div class="col-lg-4 col-md-6 d-none d-md-block">
                <div class="image-section ">
                   <img src="assets/images/page1.jpg">
                 </div>
              </div>
              <div class="col-lg-4 col-md-6 d-none d-md-block">
                <div class="image-section ">
                   <img src="assets/images/page2.jpg">
                 </div>
              </div>
        </div>
     </div>
</div>        
